<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="font-mono container mx-auto text-sm bg-red-900" x-data="{ showMenu: false }">

    
      <div id="content" class="flex flex-row justify-center">
        <div class="w-full lg:w-5/6  lg:pt-4 relative">
          
          {{- partial "logo.html" . -}}
          {{ partial "search-form.html" . }}
          {{- block "main" . }}{{- end }}
        </div>
        <button @click.prevent="showMenu = !showMenu " class="z-50 fixed lg:hidden right-4 top-4 flex justify-between text-white">
          <svg x-show="!showMenu" class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          
        </button>
        <div class="w-1/6 hidden lg:block mt-4">
          <div class="fixed pr-10">
            {{- partial "sidebar.html" . -}}
          </div>
        </div>
        <div x-show="showMenu" style="background-color: #555;" class="fixed h-full w-full top-0 left-0 z-40 text-center py-8 px-20 overflow-scroll">
          <button @click.prevent="showMenu = !showMenu " class="fixed top-4 right-4 font-bold flex justify-between text-white">
            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
          {{- partial "sidebar.html" . -}}
        </div>
      </div>
      {{- partial "footer.html" . -}}
  </body>
</html>