{{ define "main" }}
    <a href="javascript:history.back();" class="text-xs ml-4 text-gray1 underline">< Retour</a>
    <div class="mt-4 mx-2 lg:mx-0 lg:mr-8 lg:ml-0  overflow-hidden rounded-2xl bg-lightGray" x-data="{ darkMode: true }">
        <div class="w-full flex flex-col lg:flex-row">
            <div class="w-full lg:w-4/6 flex flex-col">
                <div class="rounded-2xl">{{ partial "image.html" . }}</div>
                <div class="w-full mr-20">
                    {{ if isset .Params "images" }}
                        {{ partial "gallery.html" . }}
                    {{ end }}
                </div>
            </div>
           <div class="w-full lg:w-2/6 m-4 lg:m-8 relative">
                <h1 class="text-4xl lg:text-5xl font-serif font-bold mb-8"><span class="text-white bg-blue-custom leading-tight">{{ .Title }}</span></h1>
                <div>
                    <ul class="text-gray1">
                        {{ if isset .Params "date" }}<li class="text-lightYellow"><strong>Date : </strong><span class="text-sm">{{ dateFormat "02-01-2006" .Params.date }} {{ if isset .Params "hours" }} - {{ .Params.hours }}{{ end }}</span></li>{{ end }}
                        {{ if isset .Params "location" }}<li><strong class="text-white">Lieu : </strong><span class="text-sm">{{ .Params.location }}</span></li>{{ end }}
                        {{ if isset .Params "instrument" }}<li><strong class="text-white">Instrument : </strong><span class="text-sm">{{ .Params.instrument }}</span></li>{{ end }}
                        {{ if isset .Params "eyepiece" }}<li><strong class="text-white">Oculaire : </strong><span class="text-sm">{{ .Params.eyepiece }}</span></li>{{ end }}
                        {{ if isset .Params "filter" }}<li><strong class="text-white">Filtre : </strong><span class="text-sm">{{ .Params.filter }}</span></li>{{ end }}
                        {{ if isset .Params "constellations" }}<li><strong class="text-white">Constellation : </strong><span class="text-sm">{{ .Params.constellations }}</span></li>{{ end }}
                    </ul>
                </div> 
                <div class="cursor-pointer fill-current text-gray1 pt-12 pr-8"  >
                    <div x-show="darkMode" class="flex flex-row items-center" @click="darkMode = false">
                        {{- partial "svg-light.html" . -}} 
                        <span class="ml-2 text-xs">Voir le dessin sur fond blanc</span>
                    </div>
                    <div x-show="!darkMode" class="animate-pulse flex flex-row items-center" @click="darkMode = true">
                        {{- partial "svg-dark.html" . -}} 
                        <span class="ml-2 text-xs">Voir le dessin sur fond noir</span>
                    </div>
                </div>
           </div>
        </div>     
        <div class="p-4 lg:p-8">
            <div class="my-4 text-gray1">{{ .Content }}</div> 
            <div class="mt-8">
                <ul class="flex flex-row flex-wrap">
                    {{ range .Params.categories }}
                        <a href="{{ "categories" | absURL }}/{{ . | urlize }}/"><li style="font-size: 10px;" class="bg-darkGray px-3 py-2 text-gray1 rounded-lg mr-1 mb-1 hover:text-white">{{ . }}</li></a>
                    {{ end }}
                    {{ range .Params.tags }}
                        <a href="{{ "tags" | absURL }}/{{ . | urlize }}/"><li style="font-size: 10px;" class="bg-darkGray px-3 py-2 text-gray1 rounded-lg mr-1 mb-1 hover:text-white">{{ . }}</li></a>
                    {{ end }}   
                    {{ range .Params.designations }}
                        <a href="{{ "designations" | absURL }}/{{ . | urlize }}/"><li style="font-size: 10px;" class="bg-darkGray px-3 py-2 text-gray1 rounded-lg mr-1 mb-1 hover:text-white">{{ . }}</li></a>
                    {{ end }}
                    {{ if isset .Params "constellations" }}
                        <a href="{{ "constellations" | absURL }}/{{ .Params.constellations | urlize }}/"><li style="font-size: 10px;" class="bg-darkGray px-3 py-2 text-gray1 rounded-lg mr-1 mb-1 hover:text-white">{{ .Params.constellations }}</li></a>
                    {{ end }}
                </ul>
            </div>
        </div>


    </div>

{{ end }}