@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #555;
    color:#fff;
}

.pagination {
    display: flex;
    flex-direction: row;
    margin:10px auto;
    font-size: 14px;
}

.pagination .page-item {
    margin-right: 10px;
}
.pagination .page-item.active {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}


.pagination .page-item:hover {
    text-decoration: underline;
}

img.invert:hover {
    -webkit-filter: invert(100%);
}