{{ if isset .Params "image" }}
  {{ $imagePath := printf "images/%s" .Params.image }}
  {{- $image := resources.Get $imagePath -}}
  {{ if $image }}
  {{ $image_type_arr := split .Params.image "." }}
  {{ $image_ext := index $image_type_arr 1 }}
    {{ if eq $image_ext "gif" }}
    <a target="_blank" href="{{ $image.RelPermalink }}">
    {{ else }}
    <a target="_blank" href="{{ ($image.Resize "800x jpg q75 Lanczos Smart").RelPermalink }}">
    {{ end }}
    <picture class="">
      {{ if eq $image_ext "gif" }}
      <img :class="!darkMode ? 'filter invert':''" src="{{ $image.RelPermalink }}" />
      {{ else }}
      <img :class="!darkMode ? 'filter invert':''" src="{{ ($image.Resize "800x jpg q75 Lanczos Center").RelPermalink }}" srcset="{{ ($image.Resize "800x jpg q75 Lanczos Center").RelPermalink }} 1x,{{ ($image.Resize "1600x jpg q75 Lanczos Center").RelPermalink }} 2x"/>
      {{ end }}
    </picture>
  </a>

  {{ end }}
{{ end }}
