{{ if isset .Params "image" }}
  {{ $imagePath := printf "images/%s" .Params.image }}
  {{- $image := resources.Get $imagePath -}}
  {{ if $image }}
    <picture>
      {{ $image_type_arr := split .Params.image "." }}
      {{ $image_ext := index $image_type_arr 1 }}
      {{ if eq $image_ext "gif" }}
      <img src="{{ $image.RelPermalink }}" />
      {{ else }}
      <img src="{{ ($image.Resize "800x jpg q75 Lanczos Smart").RelPermalink }}" srcset="{{ ($image.Resize "800x jpg q75 Lanczos Smart").RelPermalink }} 1x,{{ ($image.Resize "1600x jpg q75 Lanczos Smart").RelPermalink }} 2x"/>
      {{ end }}
    </picture>
  {{ end }}
{{ end }}
