<div x-data="init()" class="mx-4 mb-4 lg:mx-0 lg:pr-8 z-40 relative">
    <div class=" bg-black border-2 lg:border-4 border-white w-full flex flex-row align-middle justify-center items-center rounded-tr-xl">
      <svg  width="24" height="24" fill="none" class="text-white mx-2 group-hover:text-gray-500 transition-colors duration-200"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <input
        class="w-full py-2 text-white bg-black font-serif text-base lg:text-lg appearance-none rounded-tr-xl"
        type="text"
        placeholder="Recherche rapide"
        x-model="q"
        @keyup="search" />
    </div>
    <div x-show="results.length" class="w-full absolute top-12 lg:top-16 lg:pr-8 z-40">
      <ul class="text-black z-40 w-full rounded-lg bg-white shadow-lg border-black border-2 lg:border-4 p-4">
        <template x-for="result in results">
            <li class="font-serif hover:bg-blue-900 bg-gray-100 rounded p-4 hover:text-white hover:font-bold mb-1">
              <a class="font-serif w-full flex flex-row items-center justify-between " :href="result.uri" >
                <div class="flex flex-col">
                  <span class="font-serif" x-text="result.title"></span>
                  <span class="text-xs" x-text="result.date"></span>
                </div>
                <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20"><g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path></g></svg>
              </a>
            </li>
        </template>
      </ul> 
    </div>
</div>

<script>
    function init() {
        if(!lunrIndex) initLunrIndex()
        return {
          results: [],
          q: "",
          search: function () { 
            if(this.q.length >= 3) {
              terms = this.q.split(" ").map((words)=>{ return words+'*'}).join(" ") 
              console.log(terms)
              lunrSearch(terms)
              .then((response) => {
                console.log(response);
                this.results = response.splice(0,6)})
              .catch((err) => console.log(err));
            } else {
              this.results = []
            }
          },
        };
      }
</script>