{{ if isset .Params "image" }}
  {{ $imagePath := printf "images/%s" .Params.image }}
  {{- $image := resources.Get $imagePath -}}
  {{ if $image }}
    <picture>
      {{ $image_type_arr := split .Params.image "." }}
      {{ $image_ext := index $image_type_arr 1 }}
      {{ if eq $image_ext "gif" }}
      <img class="w-full" :class="!darkMode ? 'filter invert':''" src="{{ $image.RelPermalink }}" />
      {{ else }}
      <img class="w-full" :class="!darkMode ? 'filter invert':''" src="{{ ($image.Fill "500x400 jpg q75 Lanczos Center").RelPermalink }}" srcset="{{ ($image.Fill "500x400 jpg q75 Lanczos Center").RelPermalink }} 1x,{{ ($image.Fill "1000x800 jpg q75 Lanczos Center").RelPermalink }} 2x"/>
      {{ end }}
    </picture>
  {{ end }}
{{ end }}
